@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.message__container {
    width: 100%;
    height: 990px;
    background-color: #f5f7fb;
    overflow-y: auto;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.highlight p {
    background-color: #3d72b5;
}

.message__sender__format {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.message__sender__icon, .message__recipient__icon {
    margin-left: 40px;
}

.message {
    width: 88%;
    height: 190%;
    border-radius: 10px;
    border: 2px solid #ddd;
    outline: none;
    padding: 15px;
    font-size: 20px;
    position: relative;
    background-color: #f5f7fb;
    margin-left: 57px;
}

.message__edit__delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.message__sender {
    background-color: #dcedff;
    border-radius: 10px;
    max-width: 50%;
    padding: 20px;
    font-size: 10px;
    position: relative;
    margin: 20px;
}

.shadow-button {
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    border: none !important;
}

.message__recipient {
    background-color: #ffffff;
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
    font-size: 10px;
    position: page;
    margin: 20px;
}

.message__sender__format {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.message__recipient__format {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.message__sender, .message__recipient {
    min-width: 200px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.message-timestamp {
    position: absolute;
    bottom: -5px;
    right: 5px;
    font-size: 16px !important;
    color: grey;
}

.message__sender__icon {
    width: 60px;
    height: 60px;
    margin-right: 40px;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.message__recipient__icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.inputBAR {
    flex-grow: 1;
    margin: 0 20px;
    background-color: #f5f7fb;
}

.uploadBTN, .emoteBTN, .sendBTN {
    flex: 0 0 auto;
}

.ant-input-affix-wrapper .ant-input {
    padding: 10px;
    height: auto;
}

.uploadBTN {
    width: 40px !important;
    height: 40px !important;
    display: flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #3d72b5 !important;
}

.sendBTN {
    width: 60px !important;
    height: 60px !important;
    display: flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #3d72b5 !important;
}

.emoteBTN, .emoteBTN:hover, .emoteBTN:focus, .emoteBTN:active {
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d72b5 !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    outline: none !important;
}

.emoteBTN::after, .emoteBTN::before {
    display: none !important;
}

.message__sender > *, .message__recipient > * {
    font-size: 20px;
}

.message__container::-webkit-scrollbar {
    display: none;
}

.message__container {
    scrollbar-width: none;
}


.ant-tabs-nav{
    margin: 0 !important;
}